body{
    color: white;
    background-color: black;

}
.array-container{
    display: flex;
    justify-content: center;
   
}
.array-bar{
    width: 15px;
    background-color: indigo;
    display: inline-block;
    margin: 0 2px;
    border-radius: 50%;
}
.buttons-row{
    display: flex;
    justify-content: center;

}
.button-row{
    margin: 15px;
    

}