*{
  margin: 0;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  /*background: linear-gradient(-45deg, rgb(211, 184, 158), rgb(211, 184, 158));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;*/
  background-color: rgb(249, 247, 244);
  
}
.header{
  margin: 10px;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-around;
  border-bottom: 1px solid gray;

}

code{
  font-family: sans-serif;
}
button{
 border-style: none;
 border-color: black;
 background-color: rgb(241, 116, 14);;
 padding: 10px;
 border-radius: 10px;
 box-shadow: -5px -5px 10px rgba(247, 247, 247, 0.877),
  5px 5px 10px rgba(0, 0, 0, 0.2),
  inset 3px 3px 3px 5px rgba(182, 162, 162, 0.1),
  inset -1px -1px  5px rgb(244, 237, 230);
}
.button{
  border-style: none;
  box-shadow: -5px -5px 10px rgba(255, 254, 253, 0.877),
  5px 5px 10px rgba(0, 0, 0, 0.2),
  inset 3px 3px 3px 5px rgba(182, 162, 162, 0.1),
  inset -1px -1px  5px rgb(244, 237, 230);
  border-radius: 50%;
  padding: 10px;
  
}
.button:hover{

background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgb(239, 125, 32, 1) 100%); 
border-radius: 50%;
  
/*tindercard-home*/
}
.Home{
  
  justify-content: center;
}
.card{
  height: 600px;
  width: 600px;
  color:rgb(239, 125, 32);
 
  border-radius: 20px;
  padding: 5px;
  position: relative;
  border-color: rgb(239, 125, 32);
  border: 5px solid ;
  background-size: cover;
  background-position: center;
  
}

.swipe{
  position: absolute;
  
}

h3{
  margin: 20px;

}
.bottom___buttons{
  margin-top: 655px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 600px;
}
/*2:26:23*/

/*chat*/
.bottom-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  
  margin: 10px;
  
  
}

.form-container{
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
  border-style: solid;
  border-color: rgb(239, 125, 32);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-top: 50%;
  box-shadow: -5px -5px 10px rgba(255, 254, 253, 0.877),
  5px 5px 10px rgba(0, 0, 0, 0.2),
  inset 3px 3px 3px 5px rgba(182, 162, 162, 0.1),
  inset -1px -1px  5px rgb(244, 237, 230);
}
.form-field{
  margin: 20px;
  border-color: rgb(239, 125, 32);
  border-style: solid;
  box-shadow: -5px -5px 10px rgba(255, 254, 253, 0.877),
  5px 5px 10px rgba(0, 0, 0, 0.2),
  inset 3px 3px 3px 3px rgba(182, 162, 162, 0.3),
  inset -1px -1px  5px rgb(244, 237, 230);
  border-radius: 25px;
  padding: 10px;
  color: rgb(239, 125, 32);
}

.Chat{
  margin-top:  10px;
  padding: 10px;
  width: 600px;
  height: 600px;
  background-color: aliceblue;
  border-style: solid;
  border-color: rgb(239, 125, 32);
  border-radius: 20px;
  text-align: center;
}
.profile-pic{
  
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border-style: solid ;
  border-color: rgb(239, 125, 32);
  
}
.message-box-wrapper{
  display: flex;
  align-items: center;
  margin: 20px;

  
}
.message-box-wrapper-match{
  display: flex;
  justify-content: right;
  align-items: center;


  
}
.message-box{
  width: 300px;
  height: 60px;
  background-color: darksalmon;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  margin-left: 15px;
  padding: 15px;
}
.message-box-match{
  width: 300px;
  height: 60px;
  background-color: rgb(242, 199, 195);
  border-radius: 20px;
  display: flex;
  justify-content: left;
  margin-right: 15px;
  padding: 15px;
}

input:focus{
  outline: 1px solid rgb(239, 125, 32);     /* oranges! yey */
  box-shadow: 0px 5px 10px rgb(239, 125, 32);
} 
.chat-wrap{
 

  width: 600px;

}

/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/
