*{
  margin: 0;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  
}
.header{
  margin: 10px;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-around;
  border-bottom: 1px solid gray;

}

code{
  font-family: sans-serif;
}
.button{
 border-style: none;
 background-color: white;
 padding: 10px;
}
.button:hover{

background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgb(239, 125, 32, 1) 100%); 
border-radius: 50%;
  
/*tindercard-home*/
}
.Home{
  display:flex;
  justify-content: center;
}
.card{
  height: 600px;
  width: 600px;
  color:rgb(239, 125, 32);
  margin: 20px;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  border-color: rgb(239, 125, 32);
  border: 5px solid ;
  background-size: cover;
  background-position: center;
}

.swipe{
  position: absolute;
  
}

h3{
  margin: 20px;

}
.bottom___buttons{
  margin-top: 655px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50px;
  
}
/*2:26:23*/

/*chat*/