.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}
.product{
  background-color: crimson;
  margin: 20px;
  width: 30rem;
  border-radius: 20px;
  
}
a:link, a:visited {
  background-color: rgb(52, 48, 45);
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

a:hover, a:active {
  background-color: green;
}

header{
  font-size: xx-large;
  margin: 25px 0px;

}
.form-fields{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
  margin: 10px;
  box-shadow: 2px 0px 4px 1px;
  border-radius: 30px;
  padding: .5rem;
  background-color: crimson;


}

.form-fields>input{
  border-radius: 20px;
}

.submit-input{
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(186, 186, 186);
  box-shadow: 2px 0px 4px 1px;
}