.App {
  text-align: center;
  height: auto;
  width: auto;
  background-image: url("./components/12011.jpg");
  background-size: 100%;
  background-repeat: repeat;
  }

.container{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  
}
h1{
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(66, 145, 209);
  font-size: 50px;
}
.foot{
  margin-top: 500px;
  font-size: 16px;
  -webkit-text-stroke: 1px rgb(66, 145, 209);
  -webkit-text-fill-color: rgb(251, 251, 251);
}
.line-through{
  
text-decoration: line-through;
}

.bold{
  font-weight: bold;
}
.italics{
  font-style: italic;
}
.size{
  width: 400px;
  height: 40px;
  background-color: rgb(189, 229, 236);
  border-radius: 10px;
  border-width: 2px;
  color:black;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  border-style: solid;
  border-color: black;
  

}
.btn{
  margin: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(113, 162, 203);
  height: 30px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;

}
.markas{
  -webkit-text-stroke: 1px rgb(53, 65, 228);
  color: rgb(0, 132, 255);
  font-size: 20px;
}