.App {
  padding-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: rgb(63, 107, 82);
  Width: 700px;
  border-radius: 100px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  transition: background-color .5s ease-in-out 100ms;
  /*background: radial-gradient(100% 100%, rgb(234, 181, 227) 0%, rgb(181, 17, 241) 80%);*/
}
.minibox{
  Height: 200px;
  background-color: rgb(184, 208, 192);
  margin: 20px;
  padding: 5px;
  border-radius: 150px;
  border-width: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  
  transition: background-color .5s ease-in-out 100ms;
}

.minibox:hover{
  /*background-color:  rgb(63, 107, 82) ;*/
  transform: translateY(-2px);
  box-shadow: 0px 10px 30px 0px rgb(14, 14, 15);
  transition: background-color .5s ease-in-out 100ms;
  transition: box-shadow .5s ease-out 100ms;
  transition: transform .5s ease-in 100ms;
  
  
}
.box:hover{
  background-color: rgb(23, 128, 65);
}

.butt{
  background-color: rgb(80, 125, 73);
  border-radius: 20px;
  border-color:rgb(4, 92, 9)

}
.butt:hover{
  background-color: rgb(197, 200, 15);
  /*transform: translateY(-2px);*/
  box-shadow: 0px 3px 10px 0px rgb(14, 14, 15);
}
.pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.circlepic{
  padding-left: 120px;
  padding-top: -10px;
}
.peroninfo{
  padding-left: 140px;
}
.pic:hover{
  animation: slidein 2s ease-in-out 100ms;
}
@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0%);
  }
}
