.App {
  margin-top: 50px;
  width:auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  width: 250px;
  height: auto;
  background: rgb(249,1,180);
  background: linear-gradient(360deg, rgba(249,1,180,1) 0%, rgb(200, 16, 181) 15%, rgba(0,212,255,1) 100%); 
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  color: rgb(0, 0, 0);
  
  
}


.form{
width: 200px;
align-items: center;
justify-content: center;
}

.validationbox{
  color: black;
  background-color:rgba(249,1,180,1);
}
.button{
  width: 100px;
  height: 30px;
  margin: 20px;
  border-color: rgba(249,1,180,1);;
  border-radius: 20px;
}
.button:hover{
  background-color: rgba(0,212,255,1)
}